body {
  margin: 0;
}

pre {
  margin: 0;
  padding: 0 10px;
  overflow: scroll;
}

.container {
  display: flex;
  width: 1120px;
  max-height: 640px;
}

  .graph {
    background-color: #EFEFEF;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: none;
    position: relative;
  }

  .graph * {
    user-select: none;
  }

  pre {
    width: 300px;
    box-sizing: border-box;
  }

  .graph, .graph.point {
    cursor: crosshair;
  }

    .point {
      position: absolute;
      border-radius: 100%;
      background-color: black;
    }

    .point:hover {
      background-color: red !important;
    }

    .point:active {
      background-color: green !important;
    }
