body {
  margin: 0;
  user-select: none;
}

pre {
  margin: 0;
  padding: 0 10px;
  overflow: scroll;
  user-select: all;
}

.container {
  display: flex;
}

  .graph {
    background-color: #EFEFEF;
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
  }

  pre {
    width: 300px;
    box-sizing: border-box;
  }

  .graph, .graph.point {
    cursor: crosshair;
  }

    .point {
      position: absolute;
      background-color: black;
      border-radius: 50%;
    }

    .point:hover {
      background-color: red !important;
    }

    .point:active {
      background-color: green !important;
    }
